## Data Preparation

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(
    filepath_or_buffer='../data/raw/hotel_reservations.csv',
    sep=',',
    header=0
)

data.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

### Getting rid of the Booking_ID column

In [3]:
# Drop the Booking_ID column
data = data.drop('Booking_ID', axis=1)
data.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

### Encoding the type_of_meal_plan variable

In [4]:
# Print unique values for type_of_meal_plan column
print(data['type_of_meal_plan'].unique())

['Meal Plan 1' 'Not Selected' 'Meal Plan 2' 'Meal Plan 3']

In [5]:
# Get indexes of rows where value is Meal Plan 3
indexes = data[data['type_of_meal_plan'] == 'Meal Plan 3'].index
print("Deleting rows with indexes: ", indexes)
print("Total rows to delete: ", len(indexes))
print("Total rows before deletion: ", len(data))

# Delete these row indexes from dataFrame
data = data.drop(indexes)

print("Total rows after deletion: ", len(data))

Deleting rows with indexes:  Index([8558, 11922, 12423, 14914, 28594], dtype='int64')
Total rows to delete:  5
Total rows before deletion:  36275
Total rows after deletion:  36270

In [7]:
# Print unique values for type_of_meal_plan column
print(data['type_of_meal_plan'].unique())

['Meal Plan 1' 'Not Selected' 'Meal Plan 2']

In [8]:
# Convert type_of_meal_plan to a categorical variable
data['type_of_meal_plan'] = data['type_of_meal_plan'].astype('category')

# Check the data type of type_of_meal_plan column
print(data['type_of_meal_plan'].dtype)

category

In [9]:
pd.get_dummies(data['type_of_meal_plan'], drop_first=True, dtype='int64')

       Meal Plan 2  Not Selected
0                0             0
1                0             1
2                0             0
3                0             0
4                0             1
...            ...           ...
36270            0             0
36271            0             0
36272            0             0
36273            0             1
36274            0             0

[36270 rows x 2 columns]

In [10]:
# Use get_dummies to convert type_of_meal_plan to a one-hot encoded variable
data = pd.get_dummies(data, columns=['type_of_meal_plan'], drop_first=True, dtype='int64')
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36270 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          36270 non-null  int64
 1   no_of_children                        36270 non-null  int64
 2   no_of_weekend_nights                  36270 non-null  int64
 3   no_of_week_nights                     36270 non-null  int64
 4   required_car_parking_space            36270 non-null  int64
 5   room_type_reserved                    36270 non-null  object
 6   lead_time                             36270 non-null  int64
 7   arrival_year                          36270 non-null  int64
 8   arrival_month                         36270 non-null  int64
 9   arrival_date                          36270 non-null  int64
 10  market_segment_type                   36270 non-null  object
 11  repeated_guest                        36270 non-null  int64
 12  no_of_previous_cancellations          36270 non-null  int64
 13  no_of_previous_bookings_not_canceled  36270 non-null  int64
 14  avg_price_per_room                    36270 non-null  float64
 15  no_of_special_requests                36270 non-null  int64
 16  booking_status                        36270 non-null  object
 17  type_of_meal_plan_Meal Plan 2         36270 non-null  int64
 18  type_of_meal_plan_Not Selected        36270 non-null  int64
dtypes: float64(1), int64(15), object(3)
memory usage: 5.5+ MB

### Encoding the room_type_reserved column

In [11]:
# Print unique values for room_type_reserved column
print(data['room_type_reserved'].unique())

['Room_Type 1' 'Room_Type 4' 'Room_Type 2' 'Room_Type 6' 'Room_Type 5'
 'Room_Type 7' 'Room_Type 3']

In [12]:
# Get indexes of rows where value is Room Type 3
indexes_rtr = data[data['room_type_reserved'] == 'Room_Type 3'].index
print("Deleting rows with indexes: ", indexes_rtr)
print("Total rows to delete: ", len(indexes_rtr))
print("Total rows before deletion: ", len(data))

# Delete these row indexes from dataFrame
data = data.drop(indexes_rtr)
print("Total rows after deletion: ", len(data))

# Print unique values for room_type_reserved column
print(data['room_type_reserved'].unique())

Deleting rows with indexes:  Index([1694, 4362, 5511, 16090, 25906, 28644, 31170], dtype='int64')
Total rows to delete:  7
Total rows before deletion:  36270
Total rows after deletion:  36263
['Room_Type 1' 'Room_Type 4' 'Room_Type 2' 'Room_Type 6' 'Room_Type 5'
 'Room_Type 7']

In [13]:
# Convert room_type_reserved to a categorical variable
data['room_type_reserved'] = data['room_type_reserved'].astype('category')

# Check the data type of room_type_reserved column
print(data['room_type_reserved'].dtype)

category

In [14]:
pd.get_dummies(data['room_type_reserved'], drop_first=True, dtype='int64')

       Room_Type 2  Room_Type 4  Room_Type 5  Room_Type 6  Room_Type 7
0                0            0            0            0            0
1                0            0            0            0            0
2                0            0            0            0            0
3                0            0            0            0            0
4                0            0            0            0            0
...            ...          ...          ...          ...          ...
36270            0            1            0            0            0
36271            0            0            0            0            0
36272            0            0            0            0            0
36273            0            0            0            0            0
36274            0            0            0            0            0

[36263 rows x 5 columns]

In [15]:
# Use get_dummies to convert room_type_reserved to dummy variables
data = pd.get_dummies(data, columns=['room_type_reserved'], drop_first=True, dtype='int64')

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36263 entries, 0 to 36274
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          36263 non-null  int64
 1   no_of_children                        36263 non-null  int64
 2   no_of_weekend_nights                  36263 non-null  int64
 3   no_of_week_nights                     36263 non-null  int64
 4   required_car_parking_space            36263 non-null  int64
 5   lead_time                             36263 non-null  int64
 6   arrival_year                          36263 non-null  int64
 7   arrival_month                         36263 non-null  int64
 8   arrival_date                          36263 non-null  int64
 9   market_segment_type                   36263 non-null  object
 10  repeated_guest                        36263 non-null  int64
 11  no_of_previous_cancellations          36263 non-null  int64
 12  no_of_previous_bookings_not_canceled  36263 non-null  int64
 13  avg_price_per_room                    36263 non-null  float64
 14  no_of_special_requests                36263 non-null  int64
 15  booking_status                        36263 non-null  object
 16  type_of_meal_plan_Meal Plan 2         36263 non-null  int64
 17  type_of_meal_plan_Not Selected        36263 non-null  int64
 18  room_type_reserved_Room_Type 2        36263 non-null  int64
 19  room_type_reserved_Room_Type 4        36263 non-null  int64
 20  room_type_reserved_Room_Type 5        36263 non-null  int64
 21  room_type_reserved_Room_Type 6        36263 non-null  int64
 22  room_type_reserved_Room_Type 7        36263 non-null  int64
dtypes: float64(1), int64(20), object(2)
memory usage: 6.6+ MB

# Encoding the market_segment_type variable

In [16]:
# Print unique values for market_segment_type column
print(data['market_segment_type'].unique())

['Offline' 'Online' 'Corporate' 'Aviation' 'Complementary']

In [20]:
print("Number of rows where market_segment_type is Aviation: ", len(data[data['market_segment_type'] == 'Aviation']))
print("Number of rows where market_segment_type is Complementary: ", len(data[data['market_segment_type'] == 'Complementary']))

# Join Aviation and Complementary into new category called Aviation_Funded
data['market_segment_type'] = data['market_segment_type'].replace(
    ['Aviation', 'Complementary'], 'Aviation_Funded')

print("Number of rows where market_segment_type is Aviation_Funded: ", len(data[data['market_segment_type'] == 'Aviation_Funded']))

# Print unique values for market_segment_type column
print(data['market_segment_type'].unique())

Number of rows where market_segment_type is Aviation:  125
Number of rows where market_segment_type is Complementary:  385
Number of rows where market_segment_type is Aviation_Funded:  510
['Offline' 'Online' 'Corporate' 'Aviation_Funded']

In [21]:
# Convert market_segment_type to a categorical variable
data['market_segment_type'] = data['market_segment_type'].astype('category')

# Check the data type of market_segment_type column
print(data['market_segment_type'].dtype)

category

In [22]:
pd.get_dummies(data['market_segment_type'], drop_first=True, dtype='int64')

       Corporate  Offline  Online
0              0        1       0
1              0        0       1
2              0        0       1
3              0        0       1
4              0        0       1
...          ...      ...     ...
36270          0        0       1
36271          0        0       1
36272          0        0       1
36273          0        0       1
36274          0        1       0

[36263 rows x 3 columns]

In [23]:
# Use get_dummies to convert market_segment_type to dummy variables
data = pd.get_dummies(data, columns=['market_segment_type'], drop_first=True, dtype='int64')

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36263 entries, 0 to 36274
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          36263 non-null  int64
 1   no_of_children                        36263 non-null  int64
 2   no_of_weekend_nights                  36263 non-null  int64
 3   no_of_week_nights                     36263 non-null  int64
 4   required_car_parking_space            36263 non-null  int64
 5   lead_time                             36263 non-null  int64
 6   arrival_year                          36263 non-null  int64
 7   arrival_month                         36263 non-null  int64
 8   arrival_date                          36263 non-null  int64
 9   repeated_guest                        36263 non-null  int64
 10  no_of_previous_cancellations          36263 non-null  int64
 11  no_of_previous_bookings_not_canceled  36263 non-null  int64
 12  avg_price_per_room                    36263 non-null  float64
 13  no_of_special_requests                36263 non-null  int64
 14  booking_status                        36263 non-null  object
 15  type_of_meal_plan_Meal Plan 2         36263 non-null  int64
 16  type_of_meal_plan_Not Selected        36263 non-null  int64
 17  room_type_reserved_Room_Type 2        36263 non-null  int64
 18  room_type_reserved_Room_Type 4        36263 non-null  int64
 19  room_type_reserved_Room_Type 5        36263 non-null  int64
 20  room_type_reserved_Room_Type 6        36263 non-null  int64
 21  room_type_reserved_Room_Type 7        36263 non-null  int64
 22  market_segment_type_Corporate         36263 non-null  int64
 23  market_segment_type_Offline           36263 non-null  int64
 24  market_segment_type_Online            36263 non-null  int64
dtypes: float64(1), int64(23), object(1)
memory usage: 7.2+ MB

# Encoding the booking_status variable

In [24]:
# Print unique values for booking_status column
print(data['booking_status'].unique())

['Not_Canceled' 'Canceled']

In [25]:
# Set booking_status to 1 if the booking_status is 'Canceled' and 0 otherwise
data['booking_status'] = data['booking_status'].apply(lambda x: 1 if x == 'Canceled' else 0)

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36263 entries, 0 to 36274
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          36263 non-null  int64
 1   no_of_children                        36263 non-null  int64
 2   no_of_weekend_nights                  36263 non-null  int64
 3   no_of_week_nights                     36263 non-null  int64
 4   required_car_parking_space            36263 non-null  int64
 5   lead_time                             36263 non-null  int64
 6   arrival_year                          36263 non-null  int64
 7   arrival_month                         36263 non-null  int64
 8   arrival_date                          36263 non-null  int64
 9   repeated_guest                        36263 non-null  int64
 10  no_of_previous_cancellations          36263 non-null  int64
 11  no_of_previous_bookings_not_canceled  36263 non-null  int64
 12  avg_price_per_room                    36263 non-null  float64
 13  no_of_special_requests                36263 non-null  int64
 14  booking_status                        36263 non-null  int64
 15  type_of_meal_plan_Meal Plan 2         36263 non-null  int64
 16  type_of_meal_plan_Not Selected        36263 non-null  int64
 17  room_type_reserved_Room_Type 2        36263 non-null  int64
 18  room_type_reserved_Room_Type 4        36263 non-null  int64
 19  room_type_reserved_Room_Type 5        36263 non-null  int64
 20  room_type_reserved_Room_Type 6        36263 non-null  int64
 21  room_type_reserved_Room_Type 7        36263 non-null  int64
 22  market_segment_type_Corporate         36263 non-null  int64
 23  market_segment_type_Offline           36263 non-null  int64
 24  market_segment_type_Online            36263 non-null  int64
dtypes: float64(1), int64(24)
memory usage: 7.2 MB

In [26]:
# Save the cleaned data to a new CSV file
data.to_csv('../data/processed/hotel_reservations_encoded.csv', index=False)